@media (min-width: 576px){
    .banner-text a{
        font-size: 2.5vw;
        padding: 2vw 2.5vw;
    }

    .newsletter-form input {
        width: 60vw;
    }
    .newsletter-title h4{
        font-size: 4vw;
    }
    .newsletter-title p{
        font-size: 2.5vw;
    }
}

@media (min-width: 768px){
    .header-menu{
        position: initial;
        opacity: 1;
        background-color: #fff !important;
    }
    .header-menu li{
        display: inline-block;
        margin: 0 2vw;
        padding: 0;
        width: auto;
        border-bottom: 0;
    }

    .header-menu li a{
        font-size: 2vw !important;
    }

    .burger{
        display: none !important;
    }
    .search{
        font-size: 1.5vw !important;
    }

    .banner-text a{
        font-size: 2vw;
        padding: 1.5vw 2vw;
        border-radius: .4vw;
    }

    .popular-container {
        flex-wrap: wrap;
        flex-direction: row;
    }

    article img {
        margin-bottom: 1vw;
        height: 26vw;
        border-radius: .5vw;
    }

    .popular-image-info p {
        font-size: 3vw;
    }
    
    .popular-image-info a {
        font-size: 2vw;
    }

    .popular-container article {
        margin: 0 .5vw;
    }

    .popular-image-info {
        left: 2vw;
        bottom: 3vw;
    }

    .popular-image-info a {
        padding: .6vw 1vw;
    }

    .newsletter-title h4{
        font-size: 3vw;
    }
    .newsletter-title p{
        font-size: 2vw;
    }
}

@media (min-width: 992px){
    .search-bar {
        flex-direction: row;
        justify-content: center;
    }
    .search-form {
        flex-direction: row;
        justify-content: center;
    }

    .search-btn {
        margin-top: 0;
    }

    .popular-headeing{
        margin: 5vw 0;
    }
    .popular-title{
        font-size: 2.5vw;
    }
    .popular-discription{
        font-size: 1.5vw;
    }

    .banner, .banner2{
        height: 60vw;
    }
    .banner-text {
        height: 55vw;
    }
}

@media (min-width: 1200px){
    .header-menu li a{
        font-size: 1.5vw !important;
    }

    .logo a img{
        width: 10vw;
    }

    header{
        margin: .85vw 0;
    }

    .search-bar {
        padding: 2vw 2.3vw;
    }
    .search-form input {
        border: .1vw solid #363E52;
        border-radius: .3vw;
        padding: 1.2vw 2.5vw;
        font-size: 1vw;
    }
    .search-btn{
        border-radius: .3vw;
        padding: 1.2vw 2.5vw;
        font-size: 1vw;
        margin: 0 0 0 .2vw;
    }
    .search-bar h3{
        font-size: 1.5vw;
        margin: 0 .5vw 0 0;
    }

    .popular-container {
        flex-wrap: wrap;
        flex-direction: row;
    }
    article img {
        height: 17vw;
    }
    .popular-image-info p {
        font-size: 2vw;
    }
    .popular-image-info a {
        font-size: 1vw;
    }

    .newsletter-container, .newsletter-form{
        flex-direction: row;
    }
    .newsletter-title h4{
        font-size: 2.5vw;
    }
    .newsletter-title p{
        font-size: 1.2vw;
    }
    .newsletter-title{
        margin: 0;
    }
    .newsletter-form input{
        width: 40vw;
        height: 4vw;
        margin: 0 .5vw;
        border-radius: .5vw;
        padding-left: 1.5vw;
        font-size: 1.5vw;
    }
    .newsletter-btn{
        border-radius: .5vw;
        height: 4vw;
        font-size: 1.5vw;
    }
}