@media (min-width: 576px){
    .banner-text a{
        font-size: 2.5vw;
        padding: 2vw 2.5vw;
    }
}

@media (min-width: 768px){
    .header-menu{
        position: initial;
        opacity: 1;
        background-color: #fff !important;
    }
    .header-menu li{
        display: inline-block;
        margin: 0 2vw;
        padding: 0;
        width: auto;
        border-bottom: 0;
    }

    .header-menu li a{
        font-size: 2vw !important;
    }

    .burger{
        display: none !important;
    }
    .search{
        font-size: 1.5vw !important;
    }

    .banner-text a{
        font-size: 2vw;
        padding: 1.5vw 2vw;
        border-radius: .4vw;
    }
}

@media (min-width: 992px){
    .search-bar {
        flex-direction: row;
        justify-content: center;
    }
    .search-form {
        flex-direction: row;
        justify-content: center;
    }

    .search-btn {
        margin-top: 0;
    }
}

@media (min-width: 1200px){
    .header-menu li a{
        font-size: 1.5vw !important;
    }

    .logo a img{
        width: 10vw;
    }

    header{
        margin: .85vw 0;
    }

    .search-bar {
        padding: 2vw 2.3vw;
    }
    .search-form input {
        border: .1vw solid #363E52;
        border-radius: .3vw;
        padding: 1.2vw 2.5vw;
        font-size: 1vw;
    }
    .search-btn{
        border-radius: .3vw;
        padding: 1.2vw 2.5vw;
        font-size: 1vw;
        margin: 0 0 0 .2vw;
    }
    .search-bar h3{
        font-size: 1.5vw;
        margin: 0 .5vw 0 0;
    }
}