::selection{
    color: #fff;
    background-color: #FF4A52;
}
@font-face {
    font-family: 'nothing you could do';
    src: url('../fonts/NothingYouCouldDo-Regular.ttf') format('TrueType');
}

.clear-fix{
    clear: both;
}

html{
    scroll-behavior: smooth;
}

input[type='text']{
    letter-spacing: .15vw;
}

* {
    overflow: hidden !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: black;
    text-decoration: none;
    transition: color .2s;
    letter-spacing: 1px;
}
a:hover {
    color: #FF4A52;
}

.d-flex{
    display: flex !important;
}
.row{
    display: flex;
    width: 100%;
}
.w-100{
    width: 100% !important;
}.w-50{
    width: 50% !important;
}


header{
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}

.search, .burger{
    cursor: pointer;
    font-size: 17px !important;
}
.search{
    margin-right: 20px;
    transition: all .2s !important;
}
label{
    margin-right: 10px;
}

ul{
    margin: 0;
    padding: 0;
}

.header-menu{
    z-index: 10000;
    position: absolute;
    top: -360px;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all .5s cubic-bezier(.94,.21,.08,.87) !important;
}
.header-menu li{
    display: block;
    border-bottom: 1px solid #ccc;
    padding: 15px 5px;
    list-style-type: none;
}
.header-menu li a{
    font-size: 15px;
}

.checkbox:checked ~ .header-menu{
    top: 65px;
    opacity: 1;
    background-color: rgba(141, 141, 141, .9);
}

.logo{
    transform: scale(.8);
}

.banner{
    background: url('../images/banner.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    height: 80vw;
}
.banner2{
    background: url('../images/banner2.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    height: 80vw;
}
.banner-text {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 70vw;
}
.banner-text p{
    font-size: 4vw;
    margin-bottom: 10vw;
    border-radius: 5px;
    padding: 2px 5px;
    color: #FF4A52;
}

.banner-text a{
    background-color: #1ec6b6;
    border-radius: 5px;
    font-size: 3.5vw;
    padding: 3vw 4.5vw;
    transition: all .3s !important;
}
.banner-text a:hover{
    color: #fff !important;
    background-color: #FF4A52;
}
.banner-text h3{
    margin-bottom: 3vw;
    font-size: 13vw;
    font-family: 'nothing you could do';
    font-weight: bolder;
    color: rgb(63, 63, 63);
}

.search-bar {
    background-color: #040E27;
    flex-direction: column;
    padding: 20px 25px;
    align-items: center;
}
.search-form {
    flex-direction: column;
    align-items: center;
    width: 80%;
}
.search-form input {
    width: 100%;
    background-color: transparent;
    border: 1px solid #363E52;
    border-radius: 5px;
    margin: 10px 10px;
    padding: 17px 40px;
    color: #fff;
    outline: 0 !important;
}
.search-btn {
    margin-top: 10px;
    background-color: #FF4A52;
    color: #fff;
    padding: 17px 40px;
    font-size: 15px;
    font-weight: 500;
    border: 0;
    outline: 0;
    border-radius: 5px;
    transition: 0.3s !important;
    cursor: pointer;
}
.search-btn:hover {
    background-color: #1EC6B6;
}
.search-bar h3 {
    color: white;
    font-weight: 400;
    font-size: 17px;
    margin-bottom: 10px;
}

.popular{
    margin: 0 0 2vw 0;
}
.popular-headeing{
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}
.popular-title, .newsletter-title h4{
    font-size: 25px;
    font-weight: 400;
    color: #040E27;
    margin: 10px;
}
.popular-discription, .newsletter p{
    font-size: 15px;
    text-align: center;
    color: #7a838b;
    margin: 10px 0;
}

.popular-container {
    justify-content: center;
    flex-direction: column;
}

article img {
    margin-bottom: 20px;
    width: 100%;
    border-radius: 5px;
}

.popular-container article {
    position: relative;
    cursor: pointer;
    margin: 0 10px;
    transition: transform .3s !important;
}

.popular-container article:hover {
    transform: translateY(-10px);
}

.popular-image-info {
    position: absolute;
    left: 20px;
    bottom: 40px;
    z-index: 200;
}

.popular-image-info p {
    font-size: 5vw;
    color: #fff;
    transition: color 0.3s;
}

.popular-image-info a {
    background-color: #1EC6B6;
    font-size: 3vw;
    border-radius: 30px;
    padding: 7px 12px;
    color: #fff;
    margin-left: 10px;
    transition: color 0.3s , background-color 0.3s;
}

.popular-container article:hover .popular-image-info p {
    color: #FF4A52;
}

.popular-container article:hover .popular-image-info a {
    color: #fff;
    background-color: #FF4A52;
}

.newsletter{
    position: relative;
    flex-direction: column;
    align-items: center;
    background: url('../images/3030857.jpg') no-repeat center;
    background-size: cover;
    z-index: 1;
}
.newsletter-container{
    flex-direction: column;
    align-items: center;
    margin: 5vw 0;
}
.newsletter-container::after{
    content: '';
    position: absolute;
    background: #040E27;
    opacity: .8;
    z-index: -10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.newsletter-title{
    flex-direction: column;
    align-items: center;
    margin: .5vw 0;
}
.newsletter-form{
    flex-direction: column;
}
.newsletter-title h4{
    color: #fff;
    font-size: 18px;
}
.newsletter-title p{
    color: #9bc4c4;
    font-size: 15px;
}

.newsletter-form input {
    width: 80vw;
    height: 50px;
    background-color: #fff;
    border-radius: 1vw;
    border: none;
    outline: none;
    padding-left: 15px;
    color: #000;
    font-size: 16px;
    font-weight: 300;
    margin: 10px 0;
}
.newsletter-btn {
    background-color: #FF4A52;
    color: #fff;
    padding: 16px 10px;
    border: 0;
    font-size: 16px;
    border-radius: 1vw;
    text-align: center;
    cursor: pointer;
    transition: background-color .2s;
}
.newsletter-btn:hover{
    background-color: #ff3640;
}

footer{
    flex-direction: column;
    align-items: center;
    background-color: #040E27;
    padding: 30px 0;
}
.left-footer .logo{
    display: flex;
    justify-content: center;
}
.footer-info{
    margin: 10px 0 20px 0;
}
.footer-info li, .links li{
    font-size: 4vw;
    text-align: center;
    list-style-type: none;
    color: #aab1b7;
    line-height: 8vw;
}
.right-footer h3{
    color: #fff;
    font-size: 4.5vw;
    font-weight: 400;
    margin-bottom: 10px;
}
.links li a {
    color: #aab1b7;
}
.copy-right{
    justify-content: center;
    background-color: #040E27;
    padding: 1vw;
}
.copy{
    letter-spacing: .4vw;
    margin: 20px 0 5px 0;
    color: #fff;
}
.copy strong{
    color: #2154a0;
}